* {
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    scroll-behavior:smooth; /*Con esta regla logro que al moverse entre anclas muestre todo el scroll*/
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
/*Barra de Navegacion*/
.container {
    width: 100vw;
    padding: 0px;
    margin: 0px;
}
.nav_fixed {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10000;
}

.nav_container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0.5%;
}
/*Logo animado*/
.logo_container {
    margin: 1% 5%;
    height: 100%;
    position: absolute;
}

.logo {
    display: none;
    height: 90%;
    opacity: .8;
    animation: parpadeo 2s infinite linear;
}
@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
   100% { opacity: 1.0; }
  }

.listnav_container {
    width: 100%;
    height: 100%; 
}
.listnav {       
    display: flex;
    list-style:none;
    justify-content: space-around;
    padding-top: 10px;
}
li {
    padding: 1% 5%;
    font-weight: 700;
}
li:hover {
    /*clip-path:padding-box polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);*/
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 200ms;    
    animation: neon 800ms infinite linear;
    border-radius: 2px;
}
@keyframes neon {
    0% {
        border: 1px solid #FFFFF5DD ;
        box-shadow: 0 0 5px #ec6036, inset 0 0 5px #f67b55;
    }
    50% {
        border: 1px solid #FFFFF5DD ;
        box-shadow: 0 0 15px #eb400b, inset 0 0 15px #e95f35;
    }
    100% { 
        border: 1px solid #FFFFF5DD ;
        box-shadow: 0 0 5px #ec6036, inset 0 0 5px #f67b55;    }
    }

a.anav {
    color: #faebd7;
}
a:link, .a:visited, a:active {
    text-decoration:none;
}

/* Portada y Fondo animado */
.portada_container {
    display: flex;
    overflow-x: hidden;
}
.gif_container {
    width: 90%;
    border: solid #faebd7;
}
.gif {
    position: absolute;
    width: 60%;
    top: 5%;
    left: 18%;
}
#video {
    position: sticky;
    z-index: -10;  
    min-width:100% ;
    top: 50%; 
    left: 50%; 
}
#video_responsive {
    display: none;
}

/*Sobre mi - separador*/

.separador_container{
    height: 100%;
    background-color: black;
}
.description {
    color: #FFFFFF;
    padding: 5%;
    text-align: justify;
}
strong {
    color: #eb400b
}
.icon_container {
    display: flex;
    margin: 3%;
    padding: 5%;
    justify-content: center;
}
.fa-brands{
    color: #FFFFFF;
    font-size: 80px;
}
.a_icon {
    padding: 0px 5%;
}
.a_icon:hover {
    transform: scale(1.3);
    transition: 500ms;
}
.fa-linkedin {
    color: #0e76a8 ;
}
.fa-git-square {
    color:#F1502F
}
.fa-instagram-square {
    /*Este estilo de instagram lo saqué de internet, no es propio*/

    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
          /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.fa-youtube {
    color: #c4302b;
}
/*Carrousel con portfolio de imagenes*/
.portfolio {
    ba
}

/*iframe*/

.dino_iframe {
    display: none;
    width: 100%; 
    height: 100%; 
    background-color: #000000;
}
/*Responsive*/
@media (max-width:600px) {
    #video {
        display: none;
    }
    #video_responsive {
    display: flex;
    position: sticky;
    z-index: -10;
    min-width:100% ;
    top: 50%; 
    left: 50%;
    }
    .nav_container {
        justify-content: center;
    }
    .listnav_container{
        width: 85%;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 1% 3%;
        margin: 0px 1.5%;
        font-size: .8rem;
        font-weight: 600;
    }
    .li:hover {
        transform: scale(1);
    }
    .logo_container {
        display: none;
    }
    .nav_container {
        margin: 0px;
    }
    .gif {
        width: 90%;
        left: 5%;
    }
    /*Sobre mi - separador*/
    .icon_container {
        margin: 15%;
    }
    .description {
        text-align: justify;
    }
}